

body {
    background-color: white;
}

#container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Libre Baskerville', serif;
    color: #323232;
    min-height: calc(100vh - 140px);
}

#bio {
    display: flex;
    flex-direction: row;
    margin-top: 32.5px;
    margin-bottom: 32.5px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    align-self: flex-end;
}

h1 {
    font-size: 72px;
    margin-bottom: 20px;
    color: #ab47bc;
}

.text {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.subText {
    font-size: 16px;
}

ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    width: 150px;
    justify-content: space-between;
    align-items: flex-end;
}

.icon {
    width: 20px;
}

#projectContainer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    place-content: stretch;
    border-top: 3px solid white;
}

.project {
    min-height: 350px;
    width: 100%;
    border-radius: 2%;
    margin-bottom: 15px;
    border: 2px solid #ab47bc;
}

#skill {
    grid-column: 1 / 3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding-left: 20px;
    padding-right: 0px;
    font-family: 'Poppins', sans-serif;
}

 .backGroundImg {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    min-height: 320px;
    width: 90%;
    min-width: 200px;
    border-radius: 2%;
}

#coronavirus {
    background-image: url("../images/coronavirus.png");
    background-size: cover;
    background-position:center;
}

.project .details {
    display: none;
}

.project:hover .backGroundImg,
.project:focus .backGroundImg {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project:hover #coronavirus,
.project:active #coronavirus {
    background-image: none;
}

.project:hover .details,
.project:active .details {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    margin-top: 0;
    font-size: 24px;
}

p {
    margin-left: auto;
    margin-right: auto;
}

#skill {
    width: 100%;
    padding: 1rem 0;
}

#skill p {
    margin: 0;
}

button {
    color: #414145;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
} 

.website {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family:'Poppins', sans-serif;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0.5em 1rem;
    color: #ffffff;
    background-color: #ab47bc;
  }

  h2 {
      font-family: 'Libre Baskerville', serif;
  }

  .navWord {
    text-decoration: none;
    font-family:'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    align-self: flex-end;
  }

  .navWord a {
      text-decoration: none;
      color: #800080;
  }

@media (max-width: 1000px) {
    #bio {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #bio p {
        margin-bottom: 0;
    }

    ul {
        padding-inline-start: 0;
        align-items: flex-start;
    }

    #skill {
        grid-column: span 1;
    }

    .project {
        padding-top: 15px;
        padding-bottom: 15px;
    }

}

@media (max-width: 500px) {
   #bio {
       width: 100%;
   }

   #bio p {
       margin-left: 5px;
   }
}