

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

button {
    color: #414145;
    font-size: 0.875rem;
    border-radius: 10px;
} 

nav {
    align-self: flex-end;
}

h1 {
    font-size: 4.5rem;
    margin-bottom: 1.25rem;
    color: #ab47bc;
}

h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.125rem;
}

ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    width: 9rem;
    justify-content: space-between;
    align-items: center;
}

li {
    height: 100%;
}

li a {
    text-decoration: none;
    color: #800080;
    font-size: 1.125rem;
    font-weight: bolder;
    display: flex;
    align-items: end;
}

a img {
    width: 1.25rem;
}

#container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: #323232;
    min-height: calc(100vh - 140px);
}

#bioContainer {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.subText {
    font-size: 1rem;
}

.project {
    min-height: 23rem;
    width: 100%;
    border-radius: 2%;
    margin-bottom: 1rem;
    border: 2px solid #ab47bc;
}

#skill {
    grid-column: 1 / 3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding-left: 1.25rem;
    padding-right: 0;
}

 .backGroundImg {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    min-height: 22.5rem;
    width: 90%;
    min-width: 12.5rem;
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#coronavirus {
    background-size: cover;
    background-position: center;
    animation: backgroundShow 500ms 500ms ease-out;
    animation-fill-mode: forwards;
}

.project .details {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition: opacity 500ms linear;
}

.project:hover #coronavirus,
.project:active #coronavirus,
.project:focus-within #coronavirus { 
    animation: backgroundHide 500ms linear;
    animation-fill-mode: forwards;
}

.project:hover .details,
.project:active .details, 
.project:focus-within .details{
    opacity: 1;
    transition: opacity 500ms 500ms linear;
}

#skill {
    width: 100%;
    padding: 1rem 0;
}

#skill p {
    margin: 0;
}

.website {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0.5em 1rem;
    color: #ffffff;
    background-color: #ab47bc;
  }

@keyframes backgroundHide {
    25% { opacity: 0.75}
    50% { opacity: 0.5 }
    75% { opacity: 0.25 }
    88% { opacity: 0.10 }
    100% { background-image: none; opacity: 1 }
}

@keyframes backgroundShow {
    0% { background-image: none}
    12% { background-image: url("../images/coronavirus.png"); opacity: .12}
    25% { opacity: 0.25; background-image: url("../images/coronavirus.png")}
    50% { opacity: 0.5; background-image: url("../images/coronavirus.png") }
    75% { opacity: 0.75; background-image: url("../images/coronavirus.png") }
    100% { opacity: 1; background-image: url("../images/coronavirus.png") }
}

@media (max-width: 1000px) {
    #bioContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #bioContainer p {
        margin-bottom: 0;
    }

    ul {
        padding-inline-start: 0;
        align-items: flex-start;
    }

    #skill {
        grid-column: span 1;
    }

    .project {
        padding-top: 15px;
        padding-bottom: 15px;
    }

}

@media (max-width: 500px) {
   #bioContainer {
       width: 100%;
   }

   #bioConatiner p {
       margin-left: 5px;
   }
}